##{{ title }}

{{#lines}}
  | {{#tabs}} | {{/tabs}}
  | {{#tabs}} :---: | {{/tabs}}
  | {{#tabs}} ![](images/{{image}}.png) | {{/tabs}}
  | {{#tabs}} {{#arrows}}&{{.}};{{/arrows}} | {{/tabs}}

{{/lines}}
